
body{
    text-align:center;
    background-color:black;
    color:white;
    margin-top:50px;
    margin-color:grey;
}
button{
    font-size:15px;
    border:solid 2px black;
    border-radius:15px;
    padding-top:10px;
    padding-bottom:10px;
    margin:10px 200px;
    height:50px;
    width:350px;
    background-color:grey;
}
button:hover{
    color:black;
    background-color:greenyellow;
}
h3{
    color:greenyellow;
}
#pic{
    border:solid 1px black;
    border-radius:50%;
    height:125px;
    width:125px;
    top:25%;
}